<div class="container" id="content">
	<div class="row">
		<div class="header">
			<h1>About us</h1>
		</div>
		<div class="col-md-4">
			<h3>Professional Bike Shop</h3>
			<p>Established in 2016
			</p>
		</div>
		<div class="col-md-4">
			<h3>Quality Bikes</h3>
				<p>All our bikes are made in Germany
				</p>
		</div>
	</div>
</div><!-- end container -->