<div class="container page-wrap">		
	<div class="content-container">
		<div class="row">
			<div class="header">
				<h1>Contact us</h1>
			</div>
			<div class="col-md-4">
				<h3><span class="glyphicon glyphicon-home" style="padding-right: 20px"></span>Bike Shop Address</h3>
				<p>Friedrichshain<br>
				Berlin
				</p>
			</div>
			<div class="col-md-4">
				<h3><span class="glyphicon glyphicon-envelope" style="padding-right: 20px"></span>Email</h3>
					<p>For any inquiries, write an Email to: <a href="mailto:xavier@adkicker.io">xavier@adkicker.io</a>
					</p>
			</div>
		</div>
	</div>
</div>