<div class="container page-wrap">		
	<div class="content-container">
		<div class="row">
			<div class="header">
				<h1>Thank you <%= params[:name] %>!</h1>
			</div>
			<div class="panel panel-default">
  			<div class="panel-body">
    			<p>We have received your message and will respond as soon as possible.</p>
  			</div><!-- / panel-body -->
			</div><!-- / panel -->
		</div>
	</div>
</div>