<div class="container page-wrap">    
  <div class="content-container">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="header">  
        <h1>Products</h1>
      </div>
       <div class="container-flex">

        <% cache(cache_key_for_products) do %>

        <%= render @products %>

        <% end %>

        </div>
        
        <%= will_paginate @products %>

      </div>

      <% if @products.empty? %>

      <h4>No Products found...</h4>
      <br/>
      <br/>

      <% end %>

      <% if user_signed_in? %>
      <%= link_to 'Create a new product', new_product_path %>
      <% end %>
  </div>
</div>
