
<div class="container page-wrap">    
  <div class="content-container">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="header">  
        <h1>Products</h1>
      </div>

       <%= render 'form', product: @product %>

    </div>
    <%= link_to 'Back', products_path %>
  </div>
</div>

